/*********************
    - 2. General -
*********************/
*{
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans";
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.list-inline {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-inline li {
  @include dis(middle);
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  border: none;
}

.container {
  margin: 0px auto;
  width: 1170px;
  position: relative;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clear-fix,
.clearfix {
  clear: both;
}
.row{
  margin: 0 -15px;
}
