// .alert {
//   color: black;
//   @include e(inverted) {
//     color: white;
//     background-color: black;
//     @include m(hjhjhaha) {
//       color: #fff;
//     }
//   }

//   @include e(warning) {
//     color: yellow;
//   }

//   @include e(warning, inverted) {
//     color: black;
//     background-color: yellow;
//   }
// }
ul{
  margin: 0;
  list-style: none;
  padding-left: 0;
}
h1,h2,h3,h4,h5{
  margin: 0;
  letter-spacing: 1px;
}
.text--right{
  text-align: right;
}
.text--center{
  text-align: center;
}
a{
  text-decoration: none;
  &:hover,&:focus{
    text-decoration: none;
  }
}
.header{
  li{
    display: inline-block;
    vertical-align: middle;
  }
  &-top{
    border-bottom: 1px solid #ddd;
    color: #222;
    i{
      color: #666;
    }
  }
  &__contact{
    li{
      line-height: 49px;
      font-size: 12px;
      margin-right: 20px;
      i{
        margin-right: 5px;
      }
    }
  }
  &__links{

    ul{
      height: 49px;
      display: inline-block;
      font-size: 0;
      line-height: 49px;
    }
    li{
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      line-height: auto;
      height: 100%;
    }
    i{
      font-size: 19px;
      margin-left: 5px;
      line-height: 49px;
    }
    span{
      margin-left: 20px;
      font-size: 12px;
      color: #db3232;
      margin-right: 10px;
    }
  }
}
#main-menu{
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 180px);
}
.navbar{
  display: table;
  width: 100%;
  font-size: 0;
  padding: 20px 0;
  &>div{
    display: inline-block;
    vertical-align: middle;
  }
  &-nav{
    width: calc(100% - 180px);
    font-size: 0;
    a{
      transition: 0.2s;
      &:hover{
        color: #db3232;
      }
    }
    li{

      position: relative;
      font-size: 16px;
      &.tree{
        margin: 0 20px;
        &::before{
          content: "";
          position: absolute;
          height: 2px;
          background-color: #db3232;
          border-radius: 1px;
          width: 0;
          transition:  0.2s;
          top: 25px;
          margin: 0 auto;
          text-align: center;
          left: 0;
          right: 0;
        }
      }
      &:hover{
        &::before{
          width: 100%;
        }
      }
    }
  }
  &--right{
    width: 180px;
    display: inline-block;
    vertical-align: middle;
    li{
      position: relative;
      margin-left: 10px;
      span{
        position: absolute;
        top: -5px;
        right: -5px;
        border-radius: 50%;
        line-height: 20px;
        height: 20px;
        display: block;
        text-align: center;
        width: 20px;
        background-color: #db3232;
        color: #fff;
        font-size: 12px;
      }
    }
  }
  &__brand{
    width: 180px;
    button{
      display: none;
    }
  }
}
.banner{
  position: relative;
  background: url(images/banner.jpg) no-repeat center center;
  background-size: cover;
  height: 800px;
  &__container{
    width: 1170px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    position: absolute;
  }
  &__content{
    position: absolute;
    top: 235px;
    left: 700px;
    width: 600px;
    h1{
      color: #166fa8;
      margin: 0;
      padding-bottom: 20px;
      font-size: 48px;
      text-transform: uppercase;
    }
    h2{
      font-weight: 600;
      font-size: 30px;
      color: #222;
      padding-bottom: 30px;
      span{
        color: #db3232;
      }
    }
    p{
      margin: 0;
      margin-bottom: 60px;
      height: 50px;
      overflow: hidden;
    }
  }
  img{
    display: block;
    position: relative;
  }
}
.btn{
  cursor: pointer;
  transition: 0.3s;
  &__rectangle{
    background-color: #db3232;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    &:hover{
      color: #db3232;
      background-color: #fff;
      box-shadow: 0 3px 15px #ff7e7e;
    }
  }
  &__news{
    background-color: transparent;
    text-decoration: underline;
    color: #666;
    &:hover{
      text-decoration: underline;
      color: #db3232;
    }
  }
  &__bike-cart{
    display: inline-block;
    width: 130px;
    line-height: 40px;
    height: 40px;
  }
  &__banner{
    display: block;
    width: 200px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 600;
  }
}
.bike-cart{
  padding: 135px 0 105px;
  &--left{
    width:700px;
    padding-right: 30px;
    display: table-cell;
    vertical-align: top;
  }
  &--right{
    width: calc(100% - 700px);
    display: table-cell;
    vertical-align: top;
  }
  &__item{
    margin-bottom: 30px;
    position: relative;
    img{
      display: block;
    }
  }
  &__detail{
    position: absolute;
    max-width: 45%;
    h3{
      font-size: 36px;
      font-weight: 700;
      line-height: 44px;
      height: 48px;
      overflow: hidden;
      color: #222;
      text-transform: uppercase;
    }
    p{
      margin: 0;
      padding:10px 0 30px;
      letter-spacing: 1px;
    }
    &--right{
      right: 35px;
      top: 50%;
      transform: translateY(-50%);
    }
    &--center{
      margin: auto;
      top: 60px;
      left: 0;
      right: 0;
      text-align: center;
      max-width: 100%;
      a{
      }
    }
  }
}
.commitment{
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4f4;
  ul{
    text-align: center;
    width: 100%;
    font-size: 0;
  }
  li{
    display: inline-block;
    font-size: 14px;
    width: 25%;
    position: relative;
    &:last-child{
      &::before{
        background-color: transparent;
      }
    }
    &::before{
      content: "";
      position: absolute;
      right: -1px;
      height: 80px;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: #bfbfbf;
      margin: auto;
    }
  }
  img{
    vertical-align: middle;
  }
  span{
    margin-left: 15px;
    text-align: left;
    display: inline-block;
    max-width: 176px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 600;
  }
}
.product{
  &__col-20{
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 0 15px;
    margin-bottom: 60px;
  }
  &__lists{
    padding-top: 60px;
    padding-bottom: 65px;
    font-size: 0;
  }
  &__home{
    padding-top: 130px;
    p{
      max-width: 770px;
      margin: auto;
      padding-top: 10px;
      line-height: 26px;
    }
  }
}
.section{
  .product__item__img img{
    max-height: 400px;
  }
  &__container{
    padding-left: 60px;
    padding-right: 60px;
  }
  &--title{
    font-size: 60px;
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__line{
    margin: 0 auto;
    height: 1px;
    width: 1170px;
    background-color: #ddd;
  }
}
.quality{
  font-size: 0;
  margin: 130px 0;
  img{
    margin-top: 20px;
  }
  p{
    margin: 0;
    padding-bottom: 20px;
    color: #666;
    line-height: 26px;
    &.text-detail{
      padding-top: 20px;
    }
    &.name-people{
      padding-bottom: 0;
    }
  }
  h3{
    font-size: 36px;
    font-weight: 700;
    color: #222;
    text-transform: uppercase;
    &.text--red{
      color: #db3232;
      margin-top: 20px;
    }
  }
  &--left{
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    width: 500px;
    padding-right: 100px;
  }
  &--right{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 500px);
    iframe{
      width: 100%;
      height: 490px;;
    }
  }
}
.col-6{
  float: left;
  width: 50%;
  padding: 0 15px;
}
.news{
  padding-top: 110px;
  padding-bottom: 130px;
  color: #666;
  &__title{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    padding-bottom: 20px;
    color: #222;
    display: block;
  }
  h2{
    padding-bottom: 75px;
    color: #222;
  }
  &__img{
    width: 515px;
    padding-right: 30px;
  }
  &__comment{
    width: calc(100% - 515px);
    i{
      font-size: 12px;
    }
    p{
      margin: 0;
      padding-bottom: 30px;
      line-height: 26px;
      height: 78px;
      overflow: hidden;
    }
    ul{
      font-size: 0;
      margin: 0 -15px;
      padding-bottom: 10px;
      li{
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        width: 50%;
        padding: 0 15px;
        i{
          padding-right: 6px;
          font-size: 18px;
        }
      }
    }
  }
  &__item{
    font-size: 0;
    & > div{
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
    }
  }
}
.footer{
  color: #fff;
  &__copy{
    background-color: #191919;
    p{
      margin: 0;
      line-height: 100px;
      text-align: center;
      color: #aaa;
    }
    a{
      color: #fff;
    }
  }
  &__tag{
    background-color: #212121;
    padding-bottom: 125px;
    padding-top: 125px;
    ul{
      padding-top: 45px;
    }
    li{
      margin-bottom: 30px;
      &.footer__tag__title{
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid #fff;
        margin: 0 15px 20px;
        padding-bottom: 10px;
        display: none;
      }
      &:hover{
        a::before{
          display: block;
        }
      }
      span{
        display: inline-block;
        vertical-align: middle;
        min-width: 124px;
      }
      a{
        display: inline-block;
        vertical-align: middle;
        position: relative;
        &::before{
          content: "";
          position: absolute;
          left: 0;
          top: 100%;
          width: 100%;
          height: 1px;
          background-color: #fff;
          display: none;
        }
      }
      &:last-child{
        padding-bottom: 0;
      }
    }
    h3{
      font-weight: 600;
      font-size: 24px;
      text-transform: uppercase;
    }
  }
}
.col-20{
  width: 20%;
  float: left;
  padding: 0 15px;
}
