@media screen and(max-width:1500px){
  .section__container{
    padding-left: 30px;
    padding-right: 30px;
    &.news{
      padding-left: 0;
      padding-right: 0;
      width: 1170px;
      margin: 0 auto;
    }
  }
  .banner{
    &__content{
      left: 630px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .commitment{
    img{
      max-width: 80px;
    }
  }
  .news{
    &__img{
      display: block;
      width: 100%;
      padding: 0;
      img{
        width: 100%;
      }
    }
    &__comment{
      display: block;
      width: 100%;
      padding-top: 30px;
    }
  }
}
@media screen and(max-width:1365px){
  .section{
    &__container{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .commitment img{
    max-width: 70px;
  }
  .banner{
    height: 600px;
  }
  .banner__content{
    max-width: 500px;
  }
  .footer__tag li span{
    min-width: auto;
  }
}
@media screen and (max-width:1200px){

}
@media screen and(max-width:1199px){
  .product  .section__line{
    display: none;
  }
  .product__lists{
    padding-bottom: 0;
  }
  .product__item__img{
    &:hover{
      bottom: 10px;
    }
  }
  .product__links{
    display: none;
  }
  .product__lists{
    padding-top: 40px;
  }
  .product__col-20{
    width: 25%;
  }
  .commitment{
    &.section__container{
      padding: 25px 0;
    }
    li{
      vertical-align: top;
    }
  }
  .section__line{
    width: 100%;
    padding: 0 15px;
  }
  .commitment span{
    display: block;
    text-align: center;
    margin: 0;
    max-width: none;
    min-height: 48px;
    padding: 10px 15px 0;
    font-size: 16px;
  }
  .quality{
    margin: 80px 0;
    &--left,&--right{
      width: 50%;
    }
    &--right{
      iframe{
        height: 420px;
      }
    }
  }
  .product__home{
    padding-top: 80px;
  }
  .bike-cart{
    padding: 80px 0;
    &__detail
    {
      &--right{
        right: 20px;
      }
      p{
        padding: 10px 0 20px;
      }
      &--center{
        top: 30px;
      }
      h3{
        font-size: 27px;
      }
    }
  }
  .bike-cart--left{
    width: 59.7%;
  }
  .bike-cart--right{
    width: 40.3%;
  }
  .footer__tag li span{
    min-width: 124px;
  }
  .section__container.news{
    width: 100%;
    padding: 80px 15px;
  }
  #main-menu{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-top: 1px solid transparent;
    li{
      width: 100%;
      margin: 0;
      text-align: left;
      border-bottom: 1px solid #ededed;
      &:hover{
        &::before{
          display: none;
        }
      }
      a{
        line-height: 50px;
        font-weight: 600;
        color: #3d434c;
        display: block;
        padding-left: 30px;
        background-color: #f9f9f9;
        font-size: 18px;
      }
    }
  }
  .navbar{
    display: block;
    width: auto;
    margin: 0 -15px;
    padding-bottom: 0;
    &--right{
      width: 100%;
      text-align: center;
      margin: 20px 0;
      li{
        margin: 0 15px;
      }
    }
    &-nav{
      width: 100%;
      overflow: hidden;
      max-height: 0;
      padding-bottom: 0;
      transition: 0.6s;
      &.active{
        max-height: 500px;
      }
    }
    & > div{
      display: block;
    }
    &__brand{
      width: 100%;
      overflow: hidden;
      padding: 0 15px 20px;;
      button{
        display: block;
        font-size: 34px;
        padding: 5px;
        margin: 5px 0;
        float: right;
        border: none;
        background: transparent;
        outline: 0;
        i{
          line-height: 34px;
          display: block;
          height: 34px;
        }
      }
    }
  }
  .container{
    width: 100%;
    padding: 0 15px;
  }
  .banner{
    height: 450px;
    &__container{
      width: 100%;
      padding: 0 15px;
    }
    &__content{
      left: 55%;
      max-width: 40%;
      width: auto;
      h2{
        font-size: 26px;
      }
    }
  }
  .footer__tag{
    padding: 0 15px;
    h3{
      padding: 20px 0;
      font-size: 16px;
      text-align: center;
    }
    ul{
      display: none;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50% , -50%);
      background: #222;
      padding-top: 20px;
      border-radius: 5px;
      &.active{
        display: block;
      }
    }
    li{
      white-space: nowrap;
      padding: 0 25px;
      &.footer__tag__title{
        display: block;
      }
    }
  }
  .news{
    h2{
      padding-bottom: 50px;
    }
  }
  .sanpham-col .library{
    margin-top: 40px;
  }
  .sanpham .product__col-20{
    width: 33.3333%;
  }
  .sanpham-col .sanpham-col10{
    width: 285px;
  }
}
@media screen and(max-width:1024px){
  .system .pic-title{
    top: 20%;
  }
  .sanpham .product__col-20{
    width: 50%;

  }
  .sanpham  .sanpham-container{
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and(max-width:940px){
  .banner{
    &__content{
     h1{
       font-size: 36px;
     }
     h2{
       font-size: 20px;
       padding-bottom: 20px;
     }
     p{
       padding-bottom: 40px;
     }
    }
  }
  .product{
    &__col{
      &-20{
        width: 33.3333%;
      }
    }
  }
  .section{
    &--title{
      font-size: 40px;
    }
  }
  .quality{
    &--left{
      padding-right:30px;
    }
    h3{
      font-size: 27px;
    }
    p{
      padding-bottom: 15px;
    }
    img{
      margin-top: 10px;
    }
  }
}
@media screen and (min-width:768px){
  .system{
    .system-search{
      input{
        width: 670px;
      }
    }
  }
}
@media screen and(max-width:767px){
  .bike-cart__item img{
    width: 100%;
  }
  .bike-cart--left{
    width: 100%;
    padding: 0;
    display: block;
  }
  .bike-cart--right{
    display: block;
    width: 100%;
  }
  .banner{
    background-position: 80% 50%;
    height: 400px;
    &__content{
      text-align: center;
      left: 50%;
      width: 70%;
      transform:translate(-50% , -50%);
      max-width: none;
    }
  }
  .btn__banner{
    display: inline-block;
  }
  .product__col-20{
    width: 50%;
  }
  .commitment{
    span{
      line-height: 24px;
      padding: 0 10px;
      margin: 10px 0 15px;
    }
  }
  .commitment img{
    margin-top: 15px;
  }
  .commitment li{
    width: 50%;
    border-style: solid;
    border-color: #ddd;
    &:nth-child(1){
      border-width: 0 1px 1px 0;
    }
    &:nth-child(2){
      border-width: 0 0px 1px 1px;
    }
    &:nth-child(3){
      border-width: 1px 1px 0px 0;
    }
    &:nth-child(4){
      border-width: 1px 0px 0px 1px;
    }
    &::before{
      display: none;
    }
  }
  .quality--left{
    margin-bottom: 30px;
  }
  .quality--left,.quality--right{
    width: 100%;
  }
  .col-6{
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
  .footer__tag h3{
    font-size: 14px;
    padding: 10px 0;
  }
  .col-20{
    padding: 0 5px;
  }
  .fleft,.fright{
    float: none;
  }
  .header__contact ul,.header__links ul{
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .footer__tag ul{
    top: 20px;
    transform: translate(-50% , 0);
  }
  .header__links ul{
    line-height: 40px;
    height: 40px;
  }
  .header__links i,.header__contact li{
    line-height: 40px;
  }
  .introduction-content{
    .introduction-col50 {

      .item-title h2{
        font-size: 45px;
        margin: 0px 0px 20px;
        line-height: 50px;
      }
    }
  }
  .introduction-content .introduction-col{
    flex-wrap: wrap;
    padding: 0px 20px;
  }
  .introduction-content .introduction-col50{
      &:nth-child(1){
        order:1;
        width: 100%;
      }
      &:nth-child(2){
        order: 2;
        width:100%;
      }
      img{
        width: 100%;
      }
  }
  .introduction-content .introduction-text {
    margin: 0px 0px 120px;
    padding: 0px 20px;
  }
  .system{
    .system-search {
      input{
        max-width: 480px;
      }
    }
    .system-picture{
      flex-wrap: wrap;
    }
    .system-pic1{
      width: 100%;
        img{
          width: 100%;
        }
    }
    .pic-title{
      top: 25%;
    }
    .address{
      padding-left: 10%;
      .col50{
        width: 100%;
      }
    }

    .system-search button{
      width: 100px;
      font-size: 15px;
    }
  }
  .sanpham .product__col-20{
    width: 100%;
  }
  .sanpham-topbar ul{
    display: block;
    width: 100%;
  }
  .sanpham-topbar .sortBy{
    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: left;
  }
}
@media screen and (max-width:667px){
  .sanpham-col{
    flex-wrap: wrap;
  }
  .sanpham-col .sanpham-col10{
    width: 100%;
  }
  .sanpham-col .sanpham-col90{
    width: 100%;
  }
  .sanpham .product__item__img img{
    height: 100%;
  }
  .sanpham  .sanpham-container{
    padding-left: 0px 8%;

  }
  .sanpham .product__col-20{
    width: 50%;
  }
}
@media screen and (max-width:520px){
  .res-banner .banner{
    height: 380px;
  }

  .system{
    .system-search{
      input{
        max-width: 480px;
      }
    }
  }
  .banner-content h2{
    font-size: 42px;
  }
  .sanpham .product__col-20{
    width: 100%;
  }
}
@media screen and(max-width:500px){
  .header__contact li{
    margin: 0 5px;
    line-height: 24px;
  }
  .banner__content{
    left: 0;
    width: 100%;
    padding: 0 15px;
    transform: translate(0 , -50%);
  }
  .bike-cart__detail--right{
    right: 10px;
  }
  .bike-cart__detail{
    h3{
      font-size: 18px;
      line-height: 23px;
    }
    p{
      padding: 5px 0;
      font-size: 12px;
    }
  }
  .bike-cart__detail{
    max-width: 45%;
  }
  .bike-cart__detail--center{
    max-width: 100%;
  }
  .commitment span{
    font-size: 12px;
  }
  .section--title{
    font-size: 24px;
  }
  .product__home p{
    font-size: 11px;
    line-height: 18px;
  }
  .product__col-20{
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
  }
  .col-20{
    width: 100%;
  }


}
@media screen and(max-width:480px){
  .introduction-content .introduction-text{
    padding: 0px 7px;
  }
  .introduction-content .introduction-col{
    padding: 0px 7px;
  }

}
.sanpham .banner-content h2 {
  color: #cccccc;
  padding: 100px 0px 40px;
  line-height: 64px;
}
@media screen and (max-width:414px){
  .system{
    .system-search{
      input{
        max-width: 480px;
        padding: 0px 110px 0px 15px;
      }
      button{
        width: 85px;
      }
    }
    .address{
      padding-left: 5%;
        h4{
          font-size: 20px;
        }
        .col50 ul li a{
          font-size: 16px;
            line-height: 42px;
        }
    }
    .pic-title{
      padding: 0px 15px;
      top: 10%;
        p{
          line-height: 42px;
          font-size: 22px;
            span{
              font-size: 22px;
            }
        }

    }
  }

}

