.text-center {
  text-align: center;
}

.col-4 {
  float: left;
  width: 33.33%;
  padding: 0 15px;
}
.col-9 {
  float: left;
  width: 75%;
  padding: 0 15px;
}
.col-3 {
  float: left;
  width: 25%;
  padding: 0 15px;
}

.product-detail {
  &__banner {
    height: 400px;
    background-color: #777777;
    background-image: url(images/ta_banner_product-detail.png);
    background-position: center;
    background-size: cover;
  }
  &__banner-title {
    height: 400px;
    background-color: #22222285;
    color: #cccccc;
    text-transform: uppercase;
    position: relative;
    h1 {
      font-weight: 400;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 730px;
      @media screen and (max-width: 768px) {
        width: auto;
      }
    }
    a {
      color: #cccccc;
      transition: all 0.3s;
      display: inline-block;
      &:hover {
        color: #fff
      }
    }
    span {
      color: #fff;
      font-size: 24px;
      font-weight: 400;
      padding-left: 3px;
      padding-right: 3px;
      line-height: 34px;
    }
  }
  .detail-product {
    margin-top: 130px;
    @media screen and (max-width: 768px) {
      margin-top:50px;
    }
    .row {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .product-zoom {
    margin-bottom: 10px;
  }
  .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin: 0;
    outline: none;
    span {
      font-size: 30px;
      width: 20px;
      height: 30px;
      line-height: 30px;
      display: inline-block;
      background-color: #fff;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      &:hover {
        color: #000;
      }
    }
  }
  .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin: 0;
    outline: none;
    span {
      font-size: 30px;
      width: 20px;
      height: 30px;
      line-height: 30px;
      background-color: #fff;
      display: inline-block;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      &:hover {
        color: #000;
      }
    }
  }
  .list-url--product {
    .item {
      border: 2px solid transparent;
      &.active {
        border: 2px solid #db3232;
      }
    }
  }
  .info-product {
    .title {
      margin-top: 90px;
      font-size: 24px;
      text-transform: uppercase;
      h2 {
        line-height: 40px;
      }
    }
    .price-product {
      font-size: 24px;
      margin-top: 20px;
      text-transform: uppercase;
    }
    .status {
      font-size: 14px;
      color: #666666;
      margin-top: 20px;
    }
    .intro {
      font-size: 14px;
      color: #666666;
      margin-top: 20px;
    }
  }
  .quantity-box {
    display: inline-block;
    margin-top: 20px;
    button {
      outline: none;
      width: 25px;
      height: 25px;
      background-color: #b0aeae;
      border: 1px solid #b0aeae;
      font-size: 15px;
    }
    input {
      height: 25px;
      border: 1px solid #b0aeae;
      width: 50px;
      margin-left: -4px;
      margin-right: -4px;
      padding-left: 5px;
      transform: translateY(-1px);
    }
  }
  .like-box {
    display: inline-block;
    margin-left: 10px;
    button {
      outline: none;
      height: 25px;
      background-color: #fff;
      border: 1px solid #166fa8;
      color: #166fa8;
      font-size: 15px;
      cursor: pointer;
      border-radius: 3px;
      &.active {
        background-color: #166fa8;
        border: 1px solid #166fa8;
        color: #fff;
      }
    }
  }
  .add-cart {
    margin-top: 20px;
    button {
      padding: 7px 15px;
      color: #fff;
      border: 1px solid #db3232;
      background-color: #db3232;
      border-radius: 3px;
    }
  }
  .describe-product {
    margin-top: 50px;
    margin-bottom: 115px;
    .title {
      font-size: 20px;
      text-transform: uppercase;
      border-bottom: 1px solid #cccccc;
      padding-bottom: 15px;
      margin-bottom: 40px;
    }
  }
  .related-product {
    .title {
      h1 {
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 50px;
        line-height: 34px;
      }
    }
    .products {
      .col-4 {
        @media screen and (max-width: 768px) {
          width: 50%;
        }
        @media screen and (max-width: 535px) {
          width: 100%;
        }
      }
    }
    margin-bottom: 125px;
  }
}

.contact-page {
  &__banner {
    height: 400px;
    background-color: #777777;
    background-image: url(images/ta_banner_product-detail.png);
    background-position: center;
    background-size: cover;
  }
  &__banner-title {
    height: 400px;
    background-color: #22222285;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    .content {
      font-weight: 400;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h1 {
        font-size: 50px;
        margin-bottom: 75px;
      }
      p {
        font-size: 24px;
        margin: 20px 0px;
        line-height: 30px;
        @media screen and (max-width: 768px){
          font-size: 18px;
          margin: 5px 0px;
          line-height: 30px;
        }
      }
    }
  }
  .contact {
    padding-top: 125px;
    background-color: #efefef;
    &__title {
      margin-bottom: 90px;
      h1 {
        font-size: 50px;
      }
    }
    &__form {
      background-color: #fff;
      padding: 100px 70px 80px 70px;
      @media screen and (max-width: 520px){
        padding: 50px 20px 40px 20px;
      }
      .error{
        color: red;
        padding-bottom: 10px;
      }
      p {
        color: #666666;
        margin-top: 30px;
        margin-bottom: 15px;
      }
      input {
        height: 50px;
        padding: 10px 20px;
        border: 1px solid #cccccc;
        box-sizing: border-box;
        width: 100%;
        outline: none;
      }
      .name-input {
        width: 50%;
        display: inline-block;
        padding-right: 15px;
        @media screen and (max-width: 768px) {
          width: 100%;
          padding-right: 0;
        }
      }
      .email-input {
        width: 50%;
        display: inline-block;
        padding-left: 15px;
        @media screen and (max-width: 768px) {
          width: 100%;
          padding-left: 0;
        }
      }
      .mess-box {
        textarea {
          width: 100%;
          height: 150px;
          border: 1px solid #cccccc;
          resize: none;
        }
      }
      .act-send {
        text-align: center;
        margin-top: 60px;
        button {
          width: 170px;
          padding: 20px;
          text-transform: uppercase;
          cursor: pointer;
          outline: none;
          border: 1px solid #db3232;
          background-color: #db3232;
          color: #fff;
        }
      }
    }
  }
  .map {
    margin-top: 130px;
    img {
      vertical-align: middle;
    }
  }
}
.news-page{
  padding-top: 100px;
  .news__item{
    padding-bottom: 20px;
  }
  .col-4{
    @media screen and (max-width:768px) {
      width: 50%;
    }
    @media screen and (max-width:425px) {
      width: 100%;
    }
  }
}
.new-detail{
  padding-top: 100px;
  padding-bottom: 100px;
  &--img{
    width: 50%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    @media screen and (max-width:725px){
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
  &--info{
    padding-left: 15px;
    @media screen and (max-width:725px){
      padding-left: 0;
    }
  }
  .item-title{
    h2{
      font-size: 30px;
      line-height: 30px;
    }
  }
  .new-other{
    .title{
      padding-top: 10px;
      padding-bottom: 5px;
      margin-bottom: 15px;
      border-bottom: 1px solid #666666;
    }
  }
  @media screen and (max-width: 1024px){
    .col-9{
      width: 100%;
    }
    .col-3{
      width: 100%;
    }
    .news__item{
      width: 50%;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media screen and (max-width: 550px) {
    .news__item{
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
