.banner-content{
  width: 100%;
  height: 100%;
  text-align: center;
    h2{
      margin: 0px;
      padding: 230px 0px 0px;
      font-size: 50px;
      line-height: 24px;
      font-weight: 700;
      color:#ffffff;
      text-transform: uppercase;
      vertical-align: middle;
    }
}
.introduction{
  .banner{
    position: relative;
    background: url('images/intro-banner.png') no-repeat center center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
  }
  .banner-content{
    width: 100%;
    height: 100%;
    text-align: center;
      h2{
        margin: 0px;
        padding: 230px 0px 0px;
        font-size: 50px;
        line-height: 24px;
        font-weight: 700;
        color:#ffffff;
        text-transform: uppercase;
        vertical-align: middle;
      }
  }
  &-content{
    .introduction-col{
      margin-top: 115px;
      display: flex;
    }
    .introduction-col50{
      width: 50%;
      margin:15px;
      .item-title{
        h2{
          font-size: 60px;
          text-transform: uppercase;
          margin:23px 0px 21px;
          line-height: 70px;
        } 
      }
      .item-text{
        height: 275px;
        overflow: hidden;
        p{
          font-size: 14px;
          color:#666666;
          line-height: 25px;
          margin:0px;
          
        }
      }
    }
    .introduction-text{
      margin:30px 0px 120px;
      p{
        margin: 0px;
        color:#666666;
        font-size: 14px;
        line-height: 25px;
        text-align: justify;
      }
    }
  }
}

/*****SẢN PHẨM********/
.sanpham{
  .product__item__img img{
    height: auto;
  }
  .product__col-20{
    width:25%;
  }

  .banner{
    background: url('images/banner-product.png') no-repeat center center;
    height: 400px;
  }
  .banner-content{
    h2{
      color:#cccccc;
      padding:181px 0px 40px;
      line-height: 64px;
        span{
          color:#ffffff;
        }
    }
  }
  &-container{
    padding-left: 60px;
    padding-right: 60px;
  }
  &-layer{
    font-size: 0;
  }
  &-col{

    padding-top: 55px;
    display: flex;
      .col10-title{
        h4{
          font-size: 20px;
          line-height: 24px;
          font-weight: 600;
          position: relative;
            &:after{
              content:'';
              width: 50px;
              background: #000;
              height: 1px;
              position: absolute;
              bottom: -5px;
              left: 0;
              
            }
        }
      }
      .sanpham-col10{
        width: 335px;
        margin: 15px;
      }
      .sanpham-col90{
        width: calc(100% - 335px);
        margin: 15px;
      }
      .library{
        margin-top: 60px;
        background: #f5f5f5;
        box-sizing: border-box;
        padding: 28px 30px;

          &-content{
            padding-top: 37px;
            .minus{
              // display: none;
            }
            ul{
              li{
                a{
                  font-size: 18px;
                  line-height: 40px;
                  display: block;
                  i{
                    float: right;
                  }
                }
              }
            }
          }
      }
      .filter{
        margin-top: 40px;
        background: #f5f5f5;
        box-sizing: border-box;
        padding: 28px 30px;

          &-content{
            margin-top: 25px;
              span{
                font-size: 14px;
                color:#444444;
                text-transform: uppercase;
                font-weight: 600;
              }
              
              #amount{
                width: 100%;
                color:#444;
                border:none;
                background: #f5f5f5;
                text-align: center;
                font-size: 14px;
                margin-top: 17px;
              }
          }
          .ui-widget{
            font-size: 0.5em;
          }
          .ui-widget.ui-widget-content{
            border: 3px solid #dcdcdc;
          }
          .ui-slider .ui-slider-handle{
            width: 15px;
            height: 15px;
            border-radius: 20px;
            outline: none;
            border: none;
            background: #444444;
            top: -7px;
          }

          #slider-range{
            margin-top: 22px;
          }
         
      }
      .color-content{
        margin-top: 25px;
        span{
          font-size: 14px;
          color:#444444;
          text-transform: uppercase;
          font-weight: 600;
        }
         ul{
           margin-top: 7px;
           li{
             width: 20px;
             height: 20px;
             cursor: pointer;
             margin-right: 5px;
           }
           .blue{
             background: #4017ee;
           }
           .red{
             background: #e31e1e;
           }
           .yellow{
             background: #ecbb26;
           }
         }
      }
  }
  &-topbar{
    padding-bottom: 30px;
    display: table;
    width: 100%;
    ul{
      display: inline-block;
      width: 70%;
      li{
        color:#666666;
        font-size: 14px;
        margin-right: 10px;
        i{
          cursor: pointer;
          font-size: 16px;
        }
      }
    }
    .sortBy{
      display: table-cell;
      width: 30%;
      text-align: right;
      color:#666666;
        select{
          border:none;
          color:#666666;
          font-size: 14px;
         height:26px;
         outline: none;
         vertical-align: middle;
          background: #f5f5f5;
         cursor: pointer;
        }
    }
  }
  .paging{
    text-align: right;
    padding: 15px;
    ul{
      display: inline-block;
      li{
        margin-right: 5px;
        a{
          display: block;
          padding: 2px 10px;
          background: #f5f5f5;
          color:#666666;
          font-size: 14px;
          line-height: 24px;
        }
        &:hover{
          a{
            background: #166fa8;
            color:#ffffff;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

/*****HỆ THỐNG PHÂN PHỐI***/
.system{
  
 &-content{
   padding-top: 110px;
 }
 .system-picture{
   display: flex;
 }
 .system-pic1{
   position: relative;
   width: 50%;
   margin: 15px;
 }
 .pic-title{
   position: absolute;
   top: 107px;
   width: 100%;
   text-align: center;
    p{
      color:#ffffff;
      font-size: 30px;
      font-weight: 600;
      line-height: 50px;
      margin: 0px;
        span{
          text-transform: uppercase;
          font-weight: 700;
          font-size: 30px;
          color:#ffffff;
          display: block;
        }
    }
 }
 .system-search{
   text-align: center;
   padding: 70px 0px 50px;
   border-bottom: 1px solid #d9d9d9;
   form{
     display: inline-block;
     position: relative;

   } 
   input::placeholder{
      color:#9a9a9a;
    }
    input{
      border:1px solid #e5e5e5;
     
      height: 48px;
      line-height: 48px;
      outline: none;
      border-radius: 4px;
      padding: 0px 187px 0px 15px;
      overflow: hidden;
    }
    button{
      background: #db3232;
      color:#ffffff;
      text-transform: uppercase;
      font-size: 18px;
      position: absolute;
      border: none;
      outline: none;
      right: 0px;
      top: 0px;
      height: 100%;
      width: 170px;
      cursor: pointer;
      border-top-right-radius: 4px;
      border-bottom-right-radius:4px;
    }
 }
 .system-address{
   display: flex;
   padding: 34px 0px 120px;
 }
 .address{
   margin: 15px;
   width: 50%;
    h4{
      font-size: 24px;
      line-height: 24px;
      text-transform: capitalize;
      font-weight: 600;
      padding-bottom: 36px;
    }
    .col50{
      width: 50%;
      ul{
        li{
          a{
            font-size: 18px;
            line-height :60px;
            text-transform: capitalize;
          }
        }
      }
    }
 }
}
/******/
.show{
  display: block;
}
.hide{
  display: none;
}
