extends _layouts/layout
block content
  section#contact-page.contact-page
    .contact-page__banner
      .contact-page__banner-title.text-center
        .content
          h1.title
            |Liên hệ
          p.place Phố Lai Xá, Quốc Lộ 32, Kim Chung, Hoài Đức, Hà Nội.
          p.phone Phone: +
            span (12) 345 6789
          p.fax Fax: +
            span (12) 345 6789
          p.email Email:
            span  Contact@yourdomain.com
    .contact
      .contact__title.text-center
        h1 Liên hệ
      .container
        .contact__form
          form#contact-form(action="")
            .name-input.fleft
              p Họ và tên
              input(type="text" name="fullname")
            .email-input.fleft
              p Email
              input(type="text" name="email")
            .clear-fix
            .number-input
              p Số điện thoại
              input(type="text" name="number")
            .mess-box
              p Tin nhắn
              textarea(name="", cols="30", rows="10")
            .act-send
              button(type="submit") Gửi
      .map
        .map-img
          img(src="images/ta_maps_contact.png", alt="")
