extends _layouts/layout
block content
  section#section.section
    .banner.banner-wrap
      .banner__container
        .banner__content
          h1 X-Men Trans 
          h2 Dòng xe 
            span limited 
            | của Pega Bike
          p Có rất nhiều biến thể của Lorem Ipsum mà bạn có thể tìm thấy, nhưng đa số được biến đổi bằng cách thêm các yếu tố hài hước.
          a.btn.btn__banner.btn__rectangle Xem ngay
    .bike-cart.bike-cart-wrap
      .container
        .bike-cart--left
          .bike-cart__item
            img(src="images/anh1.jpg", alt="bike image")
            .bike-cart__detail.bike-cart__detail--right
              h3 Xe đạp điện
              p Khoảng 
                span 20 
                | mẫu khác nhau
              a.btn.btn__bike-cart.btn__rectangle Xem ngay
          .bike-cart__item
            img(src="images/anh3.jpg", alt="bike image")
            .bike-cart__detail.bike-cart__detail--right
              h3 Xe đạp 3 bánh
              p Khoảng 
                span 20 
                | mẫu khác nhau
              a.btn.btn__bike-cart.btn__rectangle Xem ngay
        .bike-cart--right
          .bike-cart__item
            img(src="images/anh2.jpg", alt="bike image")
            .bike-cart__detail.bike-cart__detail--center
              h3 Xe máy điện
              p Khoảng 
                span 20 
                | mẫu khác nhau
              a.btn.btn__bike-cart.btn__rectangle Xem ngay
    .commitment.commitment-wrap.section__container
      ul
        li
          img(src="images/icon3.png", alt="icon")
          span Cam kết sản phẩm chính hãng 100%
        li
          img(src="images/icon1.png", alt="icon")
          span Cam kết chất lượng tốt nhất
        li
          img(src="images/icon2.png", alt="icon")
          span Cam kết dịch vụ bảo dưỡng số 1
        li
          img(src="images/icon4.png", alt="icon")
          span Đổi trả hàng miễn phí trong 3 ngày
    .product.product__home.section__container
      h2.section--title.text--center Sản phẩm nổi bật
      p.text--center Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản.
      .product__lists
        .row
          each links in product
            .product__col-20
              +product-item(links.img,links.title,links.price_new,links.price_old,links.sale,links.newx)
      .section__line
  .quality.quality-wrap
    .container
      .quality--left
        p Giới thiệu
        h3 uy tín.
        h3.text--red chất lượng.
        p.text-detail Có rất nhiều biến thể của Lorem Ipsum mà bạn có thể tìm thấy, nhưng đa số được biến đổi bằng cách thêm các yếu tố hài hước, các từ ngẫu nhiên có khi không có vẻ gì là có ý nghĩa. Nếu bạn định sử dụng một đoạn, bạn nên kiểm tra kĩ để chắn chắn là không có gì nhạy cảm được giấu ở giữa. Tất cả các công cụ sản xuất văn bản mẫu. 
        img.signature(src="images/chuky.png", alt="signature")
        p.name-people Nguyễn Văn An
      .quality--right
        iframe(src="https://www.youtube.com/embed/-wTLvPuFK7I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
  .section__line
  .news.news-wrap.section__container
    h2.section--title.text--center Tin tức
    .row
      .col-6
        .news__item
          .news__img
            a(href="")
              img(src="images/news-img.jpg", alt="image")
          .news__comment
            a.news__title(href="") Thay thế xe máy bằng xe đạp điện
            ul
              li
                i.far.fa-calendar-alt
                span 16/10/2018
              li
                i.far.fa-comments
                | (
                span 0
                | ) Bình luận
            p Một chiếc xe đạp điện hiện nay mặc dù đã có nhiều cải tiến hiện đại đáp ứng cho nhu cầu cũng như tạo nên sự thoải mái khi lái xe cho người dùng. Nhưng bạn thử hình dung sản phẩm xe đạp điện cho tương lai nào sẽ được khách hàng [..]
            a.btn.btn__news(href="") Read more 
              i.fas.fa-angle-double-right
      .col-6
        .news__item
          .news__img
            a(href="")
              img(src="images/news-img.jpg", alt="image")
          .news__comment
            a.news__title(href="") Thay thế xe máy bằng xe đạp điện
            ul
              li
                i.far.fa-calendar-alt
                span 16/10/2018
              li
                i.far.fa-comments
                | (
                span 0
                | ) Bình luận
            p Một chiếc xe đạp điện hiện nay mặc dù đã có nhiều cải tiến hiện đại đáp ứng cho nhu cầu cũng như tạo nên sự thoải mái khi lái xe cho người dùng. Nhưng bạn thử hình dung sản phẩm xe đạp điện cho tương lai nào sẽ được khách hàng [..]
            a.btn.btn__news(href="") Read more 
              i.fas.fa-angle-double-right
      .clearfix