extends _layouts/layout
block content
  section#introduction.introduction.res-banner
    .banner.banner-wrap
      .container
        .banner-content
          h2 Tin tức
    .new-detail
      .container
        .row
          .new-detail--content.col-9
            .new-detail--img
              img(src="images/intro.png", alt="")
            .new-detail--info
              .item-title
                h2 Thay thế xe máy bằng xe đạp điện
              .introduction-text
                p 	Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn. Nhiều phần mềm thiết kế giao diện web và dàn trang ngày nay đã sử dụng Lorem Ipsum làm đoạn văn bản giả, và nếu bạn thử tìm các đoạn "Lorem ipsum" trên mạng thì sẽ khám phá ra nhiều trang web hiện vẫn đang trong quá trình xây dựng. Có nhiều phiên bản khác nhau đã xuất hiện, đôi khi do vô tình, nhiều khi do cố ý (xen thêm vào những câu hài hước hay thông tục).Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn. Nhiều phần mềm thiết kế giao diện web và dàn trang ngày nay đã sử dụng Lorem Ipsum làm đoạn văn bản giả, và nếu bạn thử tìm các đoạn "Lorem ipsum" trên mạng thì sẽ khám phá ra nhiều trang web hiện vẫn đang trong quá trình xây dựng. Có nhiều phiên bản khác nhau đã xuất hiện, đôi khi do vô tình, nhiều khi do cố ý (xen thêm vào những câu hài hước hay thông tục).Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn. Nhiều phần mềm thiết kế giao diện web và dàn trang ngày nay đã sử dụng Lorem Ipsum làm đoạn văn bản giả, và nếu bạn thử tìm các đoạn "Lorem ipsum" trên mạng thì sẽ khám phá ra nhiều trang web hiện vẫn đang trong quá trình xây dựng. Có nhiều phiên bản khác nhau đã xuất hiện, đôi khi do vô tình, nhiều khi do cố ý (xen thêm vào những câu hài hước hay thông tục).Những câu hài hước hay thông tục).
          .new-other.col-3
            .title
              h2 Tin tức khác
            .news__item
              .news__img
                a(href="new-detail.html")
                  img(src="images/news-img.jpg", alt="image")
              .news__comment
                a.news__title(href="new-detail.html") Thay thế xe máy bằng xe đạp điện
                ul
                  li
                    i.far.fa-calendar-alt
                    span 16/10/2018
                  li
                    i.far.fa-comments
                    | (
                    span 0
                    | ) Bình luận
                p Một chiếc xe đạp điện hiện nay mặc dù đã có nhiều cải tiến hiện đại đáp ứng cho nhu cầu cũng như tạo nên sự thoải mái khi lái xe cho người dùng. Nhưng bạn thử hình dung sản phẩm xe đạp điện cho tương lai nào sẽ được khách hàng [..]
                a.btn.btn__news(href="new-detail.html") Read more
                  i.fas.fa-angle-double-right
            .news__item
              .news__img
                a(href="new-detail.html")
                  img(src="images/news-img.jpg", alt="image")
              .news__comment
                a.news__title(href="new-detail.html") Thay thế xe máy bằng xe đạp điện
                ul
                  li
                    i.far.fa-calendar-alt
                    span 16/10/2018
                  li
                    i.far.fa-comments
                    | (
                    span 0
                    | ) Bình luận
                p Một chiếc xe đạp điện hiện nay mặc dù đã có nhiều cải tiến hiện đại đáp ứng cho nhu cầu cũng như tạo nên sự thoải mái khi lái xe cho người dùng. Nhưng bạn thử hình dung sản phẩm xe đạp điện cho tương lai nào sẽ được khách hàng [..]
                a.btn.btn__news(href="new-detail.html") Read more
                  i.fas.fa-angle-double-right
            .news__item
              .news__img
                a(href="new-detail.html")
                  img(src="images/news-img.jpg", alt="image")
              .news__comment
                a.news__title(href="new-detail.html") Thay thế xe máy bằng xe đạp điện
                ul
                  li
                    i.far.fa-calendar-alt
                    span 16/10/2018
                  li
                    i.far.fa-comments
                    | (
                    span 0
                    | ) Bình luận
                p Một chiếc xe đạp điện hiện nay mặc dù đã có nhiều cải tiến hiện đại đáp ứng cho nhu cầu cũng như tạo nên sự thoải mái khi lái xe cho người dùng. Nhưng bạn thử hình dung sản phẩm xe đạp điện cho tương lai nào sẽ được khách hàng [..]
                a.btn.btn__news(href="new-detail.html") Read more
                  i.fas.fa-angle-double-right
            .clear-fix
          .clear-fix
