extends _layouts/layout
block content
  section#introduction.introduction.res-banner
    .banner.banner-wrap
      .container
        .banner-content
          h2 Tin tức
    .news-page
      .container
        .row
          .col-4
            .news__item
              .news__img
                a(href="new-detail.html")
                  img(src="images/news-img.jpg", alt="image")
              .news__comment
                a.news__title(href="new-detail.html") Thay thế xe máy bằng xe đạp điện
                ul
                  li
                    i.far.fa-calendar-alt
                    span 16/10/2018
                  li
                    i.far.fa-comments
                    | (
                    span 0
                    | ) Bình luận
                p Một chiếc xe đạp điện hiện nay mặc dù đã có nhiều cải tiến hiện đại đáp ứng cho nhu cầu cũng như tạo nên sự thoải mái khi lái xe cho người dùng. Nhưng bạn thử hình dung sản phẩm xe đạp điện cho tương lai nào sẽ được khách hàng [..]
                a.btn.btn__news(href="new-detail.html") Read more
                  i.fas.fa-angle-double-right
          .col-4
            .news__item
              .news__img
                a(href="new-detail.html")
                  img(src="images/news-img.jpg", alt="image")
              .news__comment
                a.news__title(href="new-detail.html") Thay thế xe máy bằng xe đạp điện
                ul
                  li
                    i.far.fa-calendar-alt
                    span 16/10/2018
                  li
                    i.far.fa-comments
                    | (
                    span 0
                    | ) Bình luận
                p Một chiếc xe đạp điện hiện nay mặc dù đã có nhiều cải tiến hiện đại đáp ứng cho nhu cầu cũng như tạo nên sự thoải mái khi lái xe cho người dùng. Nhưng bạn thử hình dung sản phẩm xe đạp điện cho tương lai nào sẽ được khách hàng [..]
                a.btn.btn__news(href="new-detail.html") Read more
                  i.fas.fa-angle-double-right
          .col-4
            .news__item
              .news__img
                a(href="new-detail.html")
                  img(src="images/news-img.jpg", alt="image")
              .news__comment
                a.news__title(href="new-detail.html") Thay thế xe máy bằng xe đạp điện
                ul
                  li
                    i.far.fa-calendar-alt
                    span 16/10/2018
                  li
                    i.far.fa-comments
                    | (
                    span 0
                    | ) Bình luận
                p Một chiếc xe đạp điện hiện nay mặc dù đã có nhiều cải tiến hiện đại đáp ứng cho nhu cầu cũng như tạo nên sự thoải mái khi lái xe cho người dùng. Nhưng bạn thử hình dung sản phẩm xe đạp điện cho tương lai nào sẽ được khách hàng [..]
                a.btn.btn__news(href="new-detail.html") Read more
                  i.fas.fa-angle-double-right
          .col-4
            .news__item
              .news__img
                a(href="new-detail.html")
                  img(src="images/news-img.jpg", alt="image")
              .news__comment
                a.news__title(href="new-detail.html") Thay thế xe máy bằng xe đạp điện
                ul
                  li
                    i.far.fa-calendar-alt
                    span 16/10/2018
                  li
                    i.far.fa-comments
                    | (
                    span 0
                    | ) Bình luận
                p Một chiếc xe đạp điện hiện nay mặc dù đã có nhiều cải tiến hiện đại đáp ứng cho nhu cầu cũng như tạo nên sự thoải mái khi lái xe cho người dùng. Nhưng bạn thử hình dung sản phẩm xe đạp điện cho tương lai nào sẽ được khách hàng [..]
                a.btn.btn__news(href="new-detail.html") Read more
                  i.fas.fa-angle-double-right
          .clear-fix
