extends _layouts/layout
block content
  section#sanpham.sanpham.res-banner
    .banner.banner-wrap
      .container
        .banner-content
          h2 trang chủ / sản phẩm /
            span xe máy điện
    .sanpham-content
      .sanpham-container
        .sanpham-layer
          .row
            .sanpham-col
              .sanpham-col10
                .library
                  .col10-title
                    h4 Thư viện
                  .library-content
                    ul
                      li
                        a(href="javascript:void(0)") Xe đạp điện
                          i.plus +
                          i.minus.hide -
                      li
                        a(href="javascript:void(0)") Xe máy điện
                          i.plus +
                          i.minus.hide -
                      li
                        a(href="javascript:void(0)") Xe máy điện 3 bánh
                          i.plus +
                          i.minus.hide -
                .filter
                  .col10-title
                    h4 Lọc sản phẩm
                  .filter-content
                    span GIÁ TIỀN
                    #slider-range
                    p
                      input(type="text" id="amount" readonly style="border:0; font-weight:600;")
                      label(for="amount")
                  .color-content
                    span COLOR
                    ul.list-inline
                      li.blue
                      li.red
                      li.yellow
              .sanpham-col90
                .product__lists
                  .sanpham-topbar
                    ul.list-inline
                      li
                        i.fas.fa-th
                      li
                        i.fas.fa-th-list
                      li
                        span 24
                        |&nbsp;sản phẩm
                    .sortBy
                      select(name="")
                        option(value="name") Sắp xếp Tên
                        option(value="price") Sắp xếp Giá
                        option(value="year") Sắp xếp Năm SX
                  .row
                    -for(i=0;i<4;i++)
                      each links in product2
                        .product__col-20
                          +product-item(links.img,links.title,links.price_new,links.price_old,links.sale,links.newx)
                  .paging
                    ul.list-inline
                      li
                        a(href="#") 1
                      li
                        a(href="#") 2
                      li
                        a(href="#") 3
