extends _layouts/layout
block content
  section#product-detail.product-detail
    .product-detail__banner
      .product-detail__banner-title.text-center
        h1 
          span 
            a(href="#") Trang chủ
          |/
          span 
            a(href="#") Sản phẩm
          |/
          span
            a(href="#") Xe máy điện
          |/
          span Xe điện aima jeek
    .detail-product
      .container
        .row
          .col-6
            .product-zoom
              .owl-carousel.owl-theme
                .item(data-hash="style-one")
                  img(src="images/product-zoom.png", alt="")
                .item(data-hash="style-two")
                  img(src="images/product-zoom.png", alt="")
                .item(data-hash="style-three")
                  img(src="images/product-zoom.png", alt="")
                .item(data-hash="style-four")
                  img(src="images/product-zoom.png", alt="")
                .item(data-hash="style-five")
                  img(src="images/product-zoom.png", alt="")
            .list-url--product
              .owl-carousel.owl-theme
                .item.active
                  a(href="#style-one") 
                    img(src="images/product-zoom.png", alt="")
                .item
                  a(href="#style-two") 
                    img(src="images/product-zoom.png", alt="")
                .item
                  a(href="#style-three") 
                    img(src="images/product-zoom.png", alt="")
                .item
                  a(href="#style-four") 
                    img(src="images/product-zoom.png", alt="")
                .item
                  a(href="#style-five") 
                    img(src="images/product-zoom.png", alt="")
          .col-6
            .info-product
              .title
                h2 Xe điện aima jeek
              .price-product
                h2 11.500.000
                  span VNĐ
              .status
                p Tình trạng: 
                  span Còn hàng
              .intro
                p Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn. Nhiều phần mềm bản giả,hài hước hay thông tục.
              form#number-product(action="")
                .quantity-box
                  button.sub(type = "button") -
                  input#number-input(type="number" value="1" min="1")
                  button.add(type = "button") +
                .like-box
                  button
                    i.far.fa-heart
                .add-cart
                  button(type="submit")
                    |Thêm vào giỏ
          .clear-fix
    .describe-product
      .container
        .title
          h3 Mô tả sản phẩm
        .describe
          p Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn. Nhiều phần mềm thiết kế giao diện web và dàn trang ngày nay đã sử dụng Lorem Ipsum làm đoạn văn bản giả, và nếu bạn thử tìm các đoạn "Lorem ipsum" trên mạng thì sẽ khám phá ra nhiều trang web hiện vẫn đang trong quá trình xây dựng. Có nhiều phiên bản khác nhau đã xuất hiện, đôi khi do vô tình, nhiều khi do cố ý (xen thêm vào những câu hài hước hay thông tục) hiều khi do cố ý .
    .related-product
      .container
        .title.text-center
          h1 Sản phẩm liên quan
        .products
          .col-4
            .product
              +product-item("images/bike1.jpg","Xe điện Aima Jeek","11.500.000đ","12.000.000đ",true,false)
          .col-4
            .product
              +product-item("images/bike2.jpg","Xe điện Aima Jeek","11.500.000đ","",false,true)
          .col-4
            .product
              +product-item("images/bike3.jpg","Xe điện Aima Jeek","11.500.000đ","12.000.000đ",true,false)
          .clear-fix
