extends _layouts/layout
block content
  section.system.sanpham.res-banner
    .banner.banner-wrap
      .container
        .banner-content
          h2 trang chủ / 
            span hệ thống phân phối
    .system-content
      .container
        .row
          .system-picture
            .system-pic1
              img(src="images/sys-pic1.png", alt="")
              .pic-title
                p Hệ thống
                  span cửa hàng trên toàn quốc
            .system-pic1
              img(src="images/sys-pic2.png", alt="")
              .pic-title
                p Hệ thống
                  span 300 showroom toàn quốc
        .system-search
          form(action="")
            input.input-search(type="text", name="search", value="", placeholder="Nhập tỉnh thành tìm kiếm")
            button(type="button") Tìm kiếm
        .row
          .system-address
            .address.address-north
              h4 Miền bắc
              .col50.fleft
                ul
                  li
                    a(href="#") 1. hà nội
                  li
                    a(href="#") 2. hải dương
                  li
                    a(href="#") 3. hải phòng
                  li
                    a(href="#") 4. bắc giang
                  li
                    a(href="#") 5. bắc cạn
                  li
                    a(href="#") 6. bắc ninh
                  li
                    a(href="#") 7. cao bằng
                  li
                    a(href="#") 8. điện biên
                  li
                    a(href="#") 9. hà giang
                  li
                    a(href="#") 10. hòa bình
              .col50.fleft
                ul
                  li
                    a(href="#") 1. hà nội
                  li
                    a(href="#") 2. hải dương
                  li
                    a(href="#") 3. hải phòng
                  li
                    a(href="#") 4. bắc giang
                  li
                    a(href="#") 5. bắc cạn
                  li
                    a(href="#") 6. bắc ninh
                  li
                    a(href="#") 7. cao bằng
                  li
                    a(href="#") 8. điện biên
                  li
                    a(href="#") 9. hà giang
                  li
                    a(href="#") 10. hòa bình
              .clear-fix
            .address.address-south
              h4 miền nam
              .col50.fleft
                ul
                  li
                    a(href="#") 1. hà nội
                  li
                    a(href="#") 2. hải dương
                  li
                    a(href="#") 3. hải phòng
                  li
                    a(href="#") 4. bắc giang
                  li
                    a(href="#") 5. bắc cạn
                  li
                    a(href="#") 6. bắc ninh
                  li
                    a(href="#") 7. cao bằng
                  li
                    a(href="#") 8. điện biên
                  li
                    a(href="#") 9. hà giang
                  li
                    a(href="") 10. hòa bình
              .col50.fleft
                ul
                  li
                    a(href="#") 1. hà nội
                  li
                    a(href="#") 2. hải dương
                  li
                    a(href="#") 3. hải phòng
                  li
                    a(href="#") 4. bắc giang
                  li
                    a(href="#") 5. bắc cạn
                  li
                    a(href="#") 6. bắc ninh
                  li
                    a(href="#") 7. cao bằng
                  li
                    a(href="#") 8. điện biên
                  li
                    a(href="#") 9. hà giang
                  li
                    a(href="#") 10. hòa bình
              .clear-fix
