.product{
  &__links{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(255,255,255,0.7);
  }
  &-name{
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color: #666666;
    margin-top: 16px;
    display: block;
    padding: 0 10px;
    &:hover{
      color: #d83232;
    }
  }
  &__item{
    position: relative;
    display: block;
    &-hide{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      visibility: hidden;
      opacity: 0;
      ul{
        position: absolute;
        bottom: 0px;
        text-align: center;
        display: inline-block;
        width: 100%;
        opacity: 0;
        transition: 0.3s linear;
      }
      li{
        display: inline-block;
        margin: 0 3px;
        img{
          display: block;
        }
        &:hover{
          a{
            display: none;
            & + a{
              display: block;
            }
          }
        }
      }
      a + a{
        display: none;
      }
    }
    &__img{
      position: relative;
      cursor: pointer;
      overflow: hidden;
      &:hover{
        .product__item-hide{
          visibility: visible;
          opacity: 1;
        }
        ul{
          bottom: 35px;
          opacity: 1;
        }
      }
      img{
        display: block;

        width: 100%;
      }
    }

  }
  .sale,.new{
    position: absolute;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .sale{
    top: 16px;
    right: 10px;
    background-color: #d83232;
  }
  .new{
    top: 16px;
    left: 15px;
    background-color: #166fa8;
  }
}
.price{
  text-align: center;
  padding-top: 8px;
  span{
    display: inline-block;
    vertical-align: middle;
    color: #222;
    margin: 0 5px;
    font-weight: 600;
    font-size: 16px;
    &.price-old{
      text-decoration: line-through;
    }
    &.price-new{
      color: #d83232;
    }
  }
}
