mixin product-item(img,title,price_new,price_old,sale,newx)
  .product__item
    .product__item__img
      -if(sale==true)
        .sale sale
      -if(newx==true)
        .new new
      .product__item-hide
        a.product__links(href="")
        ul
          li
            a(href="")
              img(src="images/icon-search-hover1.png", alt="icon")
            a(href="")
              img(src="images/icon-search-hover.png", alt="icon")
          li
            a(href="")
              img(src="images/icon-heart1.png", alt="icon")
            a(href="")
              img(src="images/icon-heart.png", alt="icon")
          li
            a(href="")
              img(src="images/icon-shopping1.png", alt="icon")
            a(href="")
              img(src="images/icon-shopping.png", alt="icon")
      a(href="")
        img(src=img, alt="image")
    .item-layer
      a.product-name(href="product-detail.html")=title
      .price
        -if(price_old!="")
          span.price-old=price_old
          | -
          span.price-new=price_new
        -else
          span=price_new


