footer#footer.footer
  #abc.footer__tag.section__container
    .row
      .col-20
        h3 ace bike
        ul.tag__lists
          li.footer__tag__title ace bike
          li
            a(href="") Trang chủ 
          li
            a(href="") Giới thiệu
          li
            a(href="") Tuyển dụng
          li
            a(href="") Hợp tác kinh doanh
          li
            a(href="") Thư cảm ơn
      .col-20
        h3 Sản phẩm
        ul.tag__lists
          li.footer__tag__title Sản phẩm
          li
            a(href="") Trang chủ 
          li
            a(href="") Giới thiệu
          li
            a(href="") Tuyển dụng
          li
            a(href="") Hợp tác kinh doanh
          li
            a(href="") Thư cảm ơn
      .col-20
        h3 Chính sách
        ul.tag__lists
          li.footer__tag__title Chính sách
          li
            a(href="") Trang chủ 
          li
            a(href="") Giới thiệu
          li
            a(href="") Tuyển dụng
          li
            a(href="") Hợp tác kinh doanh
          li
            a(href="") Thư cảm ơn
      .col-20
        h3 Hướng dẫn
        ul.tag__lists
          li.footer__tag__title Hướng dẫn
          li
            a(href="") Trang chủ 
          li
            a(href="") Giới thiệu
          li
            a(href="") Tuyển dụng
          li
            a(href="") Hợp tác kinh doanh
          li
            a(href="") Thư cảm ơn
      .col-20
        h3 Hotline
        ul.tag__lists
          li.footer__tag__title Hotline
          li
            span Kinh doanh :
            a(href="") 0355 364 987
          li
            span Hỗ trợ kỹ thuật :
            a(href="") 0355 364 987
          li
            span Dịch vụ cứu hộ :
            a(href="") 0355 364 987
          li
            span Liên hệ làm đại lý :
            a(href="") 0355 364 987
      .clearfix
  .footer__copy
    p © 2018 All Rights Reserved. Design By 
      a(href="https://3fgroup.vn/") 3Fgroup
