header#header.header
  .header-top
    .container
      .header__contact.fleft
        ul
          li
            i.fas.fa-phone
            | Hotline:
            span 035 369 597
          li
            i.fas.fa-envelope
            | Gmail:
            span Contact@gmail.com
      .header__links.fright
        ul
          li
            a(href="")
              i.fab.fa-facebook-square
          li
            a(href="")
              i.fab.fa-youtube
          li
            a(href="")
              i.fab.fa-google-plus
          li
            a(href="")
              span Hệ thống đại lý
      .clearfix
  .container
    nav.navbar
      .navbar__brand
        a(href="index.html")
          img(src="images/logo.png", alt="logo")
        button.btn__main-menu(type="button")
          i.fas.fa-bars
      .navbar-nav
        ul#main-menu.text--center
          li.tree
            a(href="index.html") Trang chủ
          li.tree
            a(href="gioithieu.html") Giới thiệu
          li.tree
            a(href="product.html") Sản phẩm
          li.tree
            a(href="system.html") Hệ thống phân phối
          li.tree
            a(href="news.html") Tin Tức
          li.tree
            a(href="contact-page.html") Liên Hệ
        .navbar--right.text--right
          ul
            li
              a(href="")
                img(src="images/search.png", alt="search")
            li
              a(href="")
                img(src="images/heart.png", alt="heart")
            li
              a(href="")
                img(src="images/shopping.png", alt="shopping")
                span 0
