include ../_partials/mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
      title Huy.V2H
      meta(charset="utf-8")
      meta(name="description" content=base.description)
      meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no, user-scalable=no")
      meta(name="keywords", content=base.keywords)
      meta(name="author", content=base.author)
      // Styles
      
      link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet")
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous")
      link(rel="stylesheet" type="text/css" href="libs/owlcarousel/assets/owl.theme.default.min.css")
      link(rel="stylesheet" type="text/css" href="libs/owlcarousel/assets/owl.carousel.min.css")
      link(rel="stylesheet" type="text/css" href="libs/jquery/animate.css")
      link(rel="stylesheet", href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css")
      block csslibs
      link(rel="stylesheet" type="text/css" href="style.css")
  body
    #wrapper
      include ../_partials/header.pug
      block content
      include ../_partials/footer.pug
    //#wrapper

    //JS
    script(src="libs/jquery/jquery.min.js")
    script(src="libs/jquery/jquery.validate.js")
    script(src="libs/owlcarousel/owl.carousel.min.js")
    script(src="https://code.jquery.com/ui/1.12.0/jquery-ui.js")
    block scriptlibs
    script(src="js/Services.js")
    script(src="js/script.js")

